<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/radio.js') }}"></script>
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="popup">
      <span class="popuptext" id="messagePopup">hello world!</span>
    </div>
    <script type="text/javascript">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            showFlash('{{message}}');
          {% endfor %}
        {% endif %}
      {% endwith %}
    </script>
    <h1>{{ header }}</h1>
    {% block content %}
    {% endblock %}
  </body>
</html>
