{% extends 'base.html' %}

{% block content %}

    <table>
      <tr>
        {% for h in headlist %}
          <th>{{ h }}</th>
        {% endfor %}
      </tr>
        {% for job in jobList %}
        <tr class="buttonrow" onclick="editJob('{{ job["name"] }}')">
          <td>{{ job["runtimeDay"] }}</td>
          <td>{{ job["runtimeTime"] }}</td>
          <td style="text-align:right;">{{ job["duration"] }}</td>
          <td>{{ job["sender"] }}</td>
          <td><input type="checkbox" name="active" {{ job["active"] }} id="{{ job["name"] }}" onclick="setActive('{{ job["name"] }}')"></td>
        </tr>
        {% endfor %}
      <tr>
        <td colspan="5" style="text-align:center;">
          <input type="button" value="+" onclick="location.assign('/radio/waketime/add')"><input type="button" value="Zur&uuml;ck" onclick="location.assign('/')">
        </td>
      </tr>
    </table>

{% endblock %}
