  .buttonrow {
    cursor: pointer;        
  }

  .buttonrow:hover {
    box-shadow: 2px 2px 2px 2px;
  }

  .buttonrow:active {
    box-shadow: 1px 1px 5px #555 inset;
  }

.stylebutton {
    margin: 10px 5px;
    background-color: #0a0a23;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgb(0,0,0);
}

.stylebutton:active {
    box-shadow: 1px 1px 5px #555 inset;
}
